name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: {python-version: '3.13.3'}

        #Install detected dependencies
      - run: pip install -r requirements.txt

        #FEATURE add an excel validation function in case data entry is scuffed by engineers

      - name: Export Parquet
        run: python anchor_pro/scripts/export_anchors_xlsm_to_parquet.py

        #FEATURE add a linter in the future 

      - name: Commit Parquet back to repo
        if: github.event_name == 'push'   
        run: |
          git config user.name  "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add data/processed/anchors.parquet
          
          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "CI: update anchors.parquet [skip ci]"
            git push
          fi